<table>
  <tr>
    <th>Data Movimentação</th>
    <th></th>
    <th></th>
  </tr>

<% @material_handlings.each do |material_handling| %>
  <tr>
    <td><%= material_handling.handling_date %></td>
    <td><%= link_to 'Editar', edit_material_handling_path(material_handling), remote: true %></td>
    <td><%= link_to 'Deletar', material_handling, confirm: 'Tem certeza?', method: :delete, remote: true %></td>
  </tr>
  <tr>
  	<td></td>
  	<td colspan="2"><div id="material_handling_items"><%= render partial: 'material_handling_items', :locals =>{:material_handling => material_handling} %></div></td>
  </tr>
<% end %>
</table>