  		<div class="form-inputs nested" >
  			<%= f.input :material_storage_location_id, :collection => MaterialStorageLocation.all.sort_by(&:composedName) , :as => :select, :label_method => :composedName, :label => "Local-Material"%> 
  			<%= f.input :quantity, :label => 'Quantidade' %>
  			<%= f.input :price, :label => 'Preço' %>
  			<%= link_to_remove_fields "x", f %>
  		</div>
  