<h1>Listing material_handlings</h1>

<div id="material_handling_form"><%= render partial: 'form' %></div>
<div id="material_handlings_list"><%= render 'material_handlings' %></div>
<div id="material_info" style="display: none;"></div>

<br />

<%= link_to 'New Material handling', new_material_handling_path %>

