<h2>Movimentação de Materiais</h2>


<div id="material_handling_form"  ></div>


<div class="pesquisa">
	<%= render partial: 'shared/form_search', locals: {path: material_handlings_path} %>
</div>

<div id="material_handlings_list"><%= render partial: 'material_handlings' %></div>
<%= will_paginate @material_handlings, class: "apple_pagination" %>
<%= link_to 'Nova Movimentação', new_material_handling_path, remote: true, class: "show-modal" %>
<br />
