<p id="notice"><%= notice %></p>

<p>
  <b>Handling date:</b>
  <%= @material_handling.handling_date %>
</p>


<%= link_to 'Edit', edit_material_handling_path(@material_handling) %> |
<%= link_to 'Back', material_handlings_path %>
