<table>
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @storage_locations.each do |storage_location| %>
  <tr>
    <td><%= storage_location.name %></td>
    <td><%= link_to 'Deletar', storage_location, confirm: 'Tem certeza?', method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>
