<h1>Listing storage_locations</h1>

<div id="storage_form"><%= render partial: "form" %></div>
<div id="storages_list"><%= render partial: "storage_locations" %></div>
<%= button_to_function('Novo Ponto de Estoque', 'show_modal("#storage_form", "Adicionar Novo Ponto de Estoque", 200, 540)', class: "show-modal") %>

<br />
