<h1>Listing storage_locations</h1>

<div id="storage_form"><%= render partial: "form" %></div>
<div id="storages_list"><%= render partial: "storage_locations" %></div>

<button class="show-modal"><%= link_to 'Novo Ponto de Estoque', new_storage_location_path, remote: true %></button>

<br />
