<table>
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= link_to 'Deletar', unit, confirm: 'Tem certeza?', method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>