<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>