<h2>Unidades</h2>

<div id="unit_form"><%= render partial: 'form' %></div>
<div id="units_list"><%= render partial: "units" %></div>
<%= button_to_function('Nova Unidade', 'show_modal("#unit_form", "Adicionar Nova Unidade", 200, 540)', class: "show-modal") %>
<br />