<h1>Listing units</h1>

<div id="unit_form"><%= render partial: 'form' %></div>
<div id="units_list"><%= render partial: "units" %></div>
<button class="show-modal"><%= link_to 'Nova Unidade', new_unit_path, remote: true %></button>
<br />