// Place all the styles related to the MaterialHandlings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#material_info {
	background: white;
	position: absolute;
	top: 0;
	margin-bottom: 50px;
	width: 700px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	padding: 10px 10px; }

.ajax-actions {
	float: right; }

.remove-fields {
	position: relative;
	left: 530px;
	bottom: 125px;
	text-decoration: none;
	color: white !important;
	font-weight: bold;
	background: #CCC;
	padding: 3px 7px;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	width: 8px; }

.remove-fields:hover {
	background: #70002D; }

/* Nested Fields */

.nested {
	border-top: 1px solid #CCC;
	padding: 5px 10px; }

	.nested:hover {
		background: #E8E8E8; }


#material_handling_form {

	margin-left: 20px;
	//width: 90%;
  overflow: hidden;

}

#nested-items {
  margin-left: 20px;
  max-height: 340px;
  //width: 100%;
  overflow-y: scroll;
  //overflow-x: visible;
}

.form-actions-hidden {
  display: none;
}

//.form-inputs-nested {
  //display: inline;
//}

