// Place all the styles related to the MaterialHandlings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#material_info {
	background: white;
	position: absolute;
	top: 0;
	margin-bottom: 50px;
	width: 700px;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	padding: 10px 10px;
}

.ajax-actions {
	float: right;
}

.remove-fields {
	position: relative;
	left: 530px;
	bottom: 125px;
	text-decoration: none;
	color: white !important;
	font-weight: bold;
	background: #CCC;
	padding: 3px 7px;
	border-radius: 5em;
}

.remove-fields:hover {
	background: #70002D;
}