<h2>Materiais</h2>

<div id="material_form"><%= render partial: 'form' %></div>
<div id="materials_list"><%= render partial: 'materials' %></div>
<%= link_to 'Novo Material', new_material_path, remote: true, class: "show-modal" %>
<br />