<h2>local-Materiais</h2>

<div id="material_storage_location_form"></div>

<div class="pesquisa">
	<%= render partial: 'shared/form_search', locals: {path: material_storage_locations_path} %>
</div>

<div id="material_storage_locations_list"><%= render partial: 'material_storage_locations' %></div>
<%= will_paginate @material_storage_locations, class: "apple_pagination" %>
<%= link_to 'Novo Local-Material', new_material_storage_location_path, remote: true, class: "show-modal" %>
<br />